.slide-3 {
    @include cover-bg('#{$img-path}/page03/bg.jpg');
    background-position: right top;

    img {
        position: absolute;
        margin: auto;
    }

    .item-boom {
        width: 120vw;
        left: -10vw;
        top: 18vh;
    }
    .item-f1 {
        width: 9rem;
        top: 8vh;
        right: 1rem;
    }
    .item-f2 {
        width: 7rem;
        top: 27vh;
        left: 1rem;
    }
    .item-f3 {
        width: 6rem;
        top: 25vh;
        right: 2rem;
    }
    .item-f4 {
        width: 8.5rem;
        bottom: 25vh;
        left: 1.5rem;
    }
    .item-f5 {
        width: 6rem;
        bottom: 30vh;
        right: 1rem;
    }
}