.slide-1 {
    @include cover-bg('#{$img-path}/page01/bg.jpg');

    img {
        position: absolute;
        margin: auto;
    }

    .item-dialog {
        top: 10vh;
        left: 2rem;
        right: 0;
        width: 18rem;
    }
    .item-dialog-f1 {
        top: 18vh;
        left: 0;
        right: 2rem;
        width: 10rem;
    }
    .item-dialog-f2 {
        top: 26vh;
        left: 3rem;
        right: 0;
        width: 10rem;
    }
    .item-pop {
        top: 45vh;
        left: 0;
        width: 12rem;
    }
    .item-i {
        top: 50vh;
        left: 3rem;
        width: 4rem;
    }
    .item-man {
        bottom: $subtitle-height;
        right: 0;
        width: 12rem;
    }
}
