@charset "UTF-8";

.up-arrow {
    width: 2rem;
    height: 2rem;
    position: fixed;
    bottom: $subtitle-height / 2 - 1rem;
    right: 0.5rem;
    transform: translate3d(-50%, 0, 0);
    z-index: 999;
    background: none;
    border: none;
    padding: 0;
    opacity: 0;
    animation: upArrowAni 2s infinite 5s linear;
    i {
        display: block;
        width: 2rem;
        height: 2rem;
        text-align: center;
        line-height: 2rem;
        color: #fff;
        font-size: 1.5rem;
        transform: rotateZ(90deg);
    }
}

@keyframes upArrowAni {
    0% {
        opacity: 0;
        //transform: translate3d(-50%, -50%, 0);
        transform: translate3d(-50%, 0, 0);
    }

    30% {
        opacity: 1;
        //transform: translate3d(-15%, -50%, 0);
        transform: translate3d(-15%, 0, 0);
    }

    60% {
        opacity: 0;
        //transform: translate3d(15%, -50%, 0);
        transform: translate3d(15%, 0, 0);
    }

    100% {
        opacity: 0;
        //transform: translate3d(50%, -50%, 0);
        transform: translate3d(50%, 0, 0);
    }
}
